# Dependencies
node_modules/

# Environment variables (contains DB passwords, secrets)
.env*
seed.sql*

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local .terraform directories (contains downloaded plugins and modules)
.terraform/

# State files (can contain plain-text secrets and change constantly)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all variable files which likely contain passwords or private keys
*.tfvars
*.tfvars.json

# Ignore override files used for local modifications
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created during runs
.terraform.tfstate.lock.info

# Ignore CLI configuration files
.terraformrc
terraform.rc